@import "tailwindcss";


.primary-color {
  @apply bg-blue-800;
}

.secondary-color {
  @apply bg-blue-500;
}

.accent-color {
  @apply bg-blue-200;
}

.neutral-color {
  @apply bg-gray-800;
}

.background-color {
  @apply bg-white;
}



.img-container {
  @apply relative w-full h-64 bg-gray-200 overflow-hidden;
}


.Cope_img{
  @apply w-full max-w-5xl h-auto rounded-xl shadow-lg mx-auto
}

