@import "tailwindcss";



.primary-color {
  @apply bg-blue-800;
}

.secondary-color {
  @apply bg-blue-500;
}

.accent-color {
  @apply bg-blue-200;
}

.neutral-color {
  @apply bg-gray-800;
}

.background-color {
  @apply bg-white;
}


.tr{
  @apply bg-white dark:bg-white border border-blue-200
}
.th{
  @apply px-3 py-2 sm:px-6 sm:py-4 font-medium text-black md:whitespace-nowrap lg:whitespace-nowrap border-r border-r-blue-200 sm:text-sm lg:text-3xl break-words
}
.td{
  @apply px-3 py-2 sm:px-6 sm:py-4 text-black sm:text-sm lg:text-2xl
}